@media(max-width:1024px){
    img.about-image-two {
       
        padding-right: 1rem;}
}
@media(max-width:991px){
   /* ====================================================== Navigation menu========== */
   .nav-end-section{
    display: none;
   }
   li.nav-item{
    padding: 3rem 0;
   }
   .navbar-collapse{
    margin-top: 3rem;
}


/* Hero section-------------------------- */
.hero-top-content{
    padding: 10rem 0 10rem 1.5rem;
    
}
.hero-top-content p{
    padding: 1rem 0;
}
ul.hero-icon-lists{
    position: initial;
    transform: unset;
}

ul.hero-icon-lists li {
    margin-right: 2rem;
    margin-top: 4rem;
   
}
/* hero bottom */
.hero-bottom-content{
    padding: 0 3.5rem;
}
/* project----------------------------- */
.project-conteiner{
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: 3rem;
    text-align: center;
}










































    /*============= footer============= */
    
    .widget-2,
.widget-3,
.widget-4{
    padding-left: 0;
    margin-top: 4rem;
}
    

}
@media(max-width:768px){
    /* html{
        font-size: 56%;
    } */
    /* common css */
    .padding-up-down{
        padding: 5rem 0;
    }
    .hero-bottom-content{
        padding: 0 2rem;
    }
    .hero-singele-icon-box:after {
        
        width: 100%;
        height: 1px;
       
    }

    /* About */
    .about-image {
        position: initial;
        padding-bottom: 5rem;
        padding-right: 0;
    }
    .about-image img{
        width: 100%;
    }
    
    img.about-image-two {
        position: initial;
        
        
        margin-top: 3rem;
    }
    /* loan rate form */
    .loan-rate{
        margin-top: 5rem;
        padding: 2rem 1rem;
    }
    /* project */
    button.owl-prev {
        left: -11%;
    }
    
    
   
    
    

}
@media(max-width:400px){
    
/* hero */
.hero-singele-icon-box {
    padding: 3.3rem 1rem 3.3rem 0rem;
}

   

}