@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
:root{
    --default-red:#e73c3e;
    --light-bg:#f9fafb;
    --sec-title-color:#111111;
    --para-color:#606060;
    --link-color:#212529;
    --subtitle-heading-h2-font-size:3.6rem;
    --line-height-h2:4.4rem;
    --shadow:0 2px 28px 0 rgba(0, 0, 0, 0.09);
    
}
html{
    font-size: 62.5%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    flex-direction: column;
    height: 100%;

}
h1,h2,h3,h4,h5,a{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
h2,h3,h4,h5{
    color: var(--sec-title-color);
    
}
h3,h4{
    font-size: clamp(2rem,2.5vw,2.8rem);
    line-height: 3rem;
}

p{
   font-size: clamp(1.5rem , 1.6vw , 1.8rem);
   line-height: 2.9rem;
   color: var(--para-color);
}
span{
    color: #fff;
    font-size: clamp(1.6rem,1.6vw,1.8rem);
    
}
h1{
    font-size: 6rem;
}
img{
    max-width: 100%;
}
ul li{
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
    color: var(--sec-title-color);
    transition: .3s;

}
a:hover{
    color: var(--default-red);
}


/* =============================================================================== Common Css=========================================================================== */
.btn{
    color: #fff;
    background-color: var(--default-red);
    font-size: 1.8rem;
    display: inline-block;
    padding: 1.3rem 4.5rem;
    text-align: center;
    border-radius: .5rem;
    
}
.btn:hover{
    color: #fff;
    background-color: var(--sec-title-color);

}
.side-spacing{
    margin: 0 6rem;
}
.padding-up-down{
    padding: 9rem 0;
}
.bottom-padding{
    padding-bottom: 9rem;
}
.top-padding{
    padding-top: 9rem;
}

/* section title */
.section-title{
    
    margin: 0 auto 5rem auto;
}
.section-title p{
    max-width: 550px;
    margin: auto;
    font-size: 1.6rem;
}
p.section-title-top{
    color: var(--default-red);

}
.section-title h2{
    font-size: clamp(2.4rem,4.4vw,4.5rem);
    font-weight: 500;
    line-height: 4.4rem;
    margin: 0rem 0 1.6rem 0;

}
/* section title secondary */
.section-title-light {
    font-size: clamp(1.8vw,4.1vw,4.1rem);
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 16px;
    line-height: 5.5rem;
}

/* ===================================================================================================================== Navigation Bar===================================================== */
header.header{
    transition: all .4s ease;
}
header.header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: .4s;
    background-color: #fff;
    height: 8rem;
    box-shadow: -1px -3px 15px 0px rgb(0 0 0 / 55%);
    animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
    height: 10rem;
   

}
/* midd;e */
ul.navbar-nav {
    margin-left: auto;
    margin-right: 3rem;
}
ul.navbar-nav li.nav-item{
    margin: 0 1.5rem;
}
ul.navbar-nav li.nav-item a.nav-link{
    color: var(--sec-title-color);
    font-size: 1.8rem;
    transition: .3s;
}
ul.navbar-nav li.nav-item a.nav-link:hover{
color: var(--default-red);
}

/* End section */
.nav-end-content{
    gap: 5rem;
}
.nav-end-content-section-one img{
    margin-top: 1.5rem;
}
.nav-end-content-section-two{
    gap: 1rem;

}

.nav-end-content-section-two img {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 1rem;


}
.nav-end-content-section-two h5{
    font-size: 2rem;
}

/* responsive menu section */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    color: var(--default-red);
}
.navbar{
    padding: 1rem 4.5rem;
}
.navbar-light .navbar-toggler {
    border-color: transparent;
}

/* ===================================================================================================================== Hero section ===================================================== */
.hero{
    background-image: url('../images/main-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}
.hero::after{
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

/* hero top-------------------------- */
.hero-top-content{
    padding: 20rem 0 20rem 5rem;
    z-index: 99;
    position: relative;
}
.hero-top-content span{
    color: #fff;
    
}
.hero-top-content h1{
    color: #fff;
    font-size: clamp(1.6rem , 6.8vw , 7.5rem);
}
.hero-top-content p{
    color: #fff;
    font-size: clamp(2rem, 2vw,2.2rem);
    padding: 3rem 0;
    line-height: 4rem;
}
ul.hero-icon-lists {
    margin-left: -2rem;
    position: absolute;
    transform: rotate(-90deg);
    top: 50%;
    right: -115%;
}
li.dash {
    width: 5rem;
    height: 2px;
    background: #fff;
    margin-bottom: 0.5rem;
}
ul.hero-icon-lists li {
    margin-right: 2rem;
    
   
}

/* hero bottom---------------------------- */
.hero-bottom-content{
    border-top: 1px solid #ffffff7e;
    z-index: 99;
    position: relative;
    /* padding: 0 5rem; */
    
}
.icon-parent {
    position: relative;
}
.hero-singele-icon-box {
    padding: 3.3rem 3rem 3.3rem 3rem;
}
.hero-singele-icon-box:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    right: 0%;
    /* right: 0; */
    background-color: #ffffff7e;
}
.hero-singele-icon-box img {
    width: 5rem;
    height: 6rem;
    margin-top: 0.4rem;
    margin-right: 2.5rem;
}
.hero-singele-icon-box p{
    color: #fff;
    
}

/* ===================================================================================================================== About section ===================================================== */
.about-image {
    position: relative;
    margin-top: 7rem;
}


img.about-image-two {
    position: absolute;
    top: 14rem;
    left: 27%;
}
.experience {
    z-index: 1;
    position: absolute;
    background: #fff;
    padding: 4rem;
    border-left: 2px solid var(--default-red);
    box-shadow: var(--shadow);
    
    top: 93%;
    width: clamp(30rem,50vw,55.5vw);
    gap: 2rem;

}
.experience h5 {
    /* font-size: 1rem; */
    font-size: clamp(4.5rem,8vw,8rem);
    margin-bottom: 0;
    position: absolute;
    left: 50px;
    top: 35px;
    font-weight: 400;
}
.experience p {
    font-size: 28px;
    color: #111111;
    font-weight: 400;
    margin-bottom: 0;
    /* padding-left: 120px; */
    line-height: 1.4;
    font-family: "Rubik", sans-serif;
}



/* about texts */
.about-text-content span{
    color: var(--default-red);
}

.about-text-content strong{
    font-size: 2rem;
    font-weight: 400;
    color: var(--para-color);
    margin-bottom: 4rem;
}
.about-lists {
    margin: 2rem 0;
}
.check-list {
    margin-top: 1rem;
}
.check-list img {
    margin-top: -4px;
    margin-right: 1rem;
}
.check-list span{
    color: var(--para-color);
}

/* ===================================================================================================================== Why choose us section ===================================================== */
.why-choose-us{
    background-color: var(--light-bg);
}

.service-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;
    flex-direction: column;
    padding: 3rem 2rem;
    margin: 1.5rem .7rem;
    transition: .3s;
}
.service-box:after {
    position: absolute;
    content: "";
    background-color: #fdebeb;
    height: 60%;
    width: 90%;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -34%;
    z-index: 0;
    transition: all .4s;
}
.service-box:hover{
    transform: translateY(-10px);
}
.service-box:hover.service-box:after{
background-color: var(--default-red);
}
.service-box-img{
    z-index: 10;
}


.service-box-img img {
    background: #fff;
    border-radius: 100%;
    padding: 2rem;
    width: 10rem;
    height: 10rem;
}
.service-box h5{
    font-size: 2.5rem;
    margin: 2.5rem 0 2rem 0;
}


/* ===================================================================================================================== company value section ===================================================== */

.company-value-image {
    background-image: url('../images/company.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.company-value-image img {
    height: 100%;
    width: 100%;
}
.company-text-container {
    position: relative;
    max-width: 61rem;
    margin: 4rem 0 0 0;
}

.company-text-container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 6rem;
    width: 6rem;
}

.company-text-content {
    padding-left: 9rem;
}

.company-value-text {
    margin: 10rem 0;
}

.company-value-text h3 {
    font-size: clamp(3.3rem,3.6vw,4rem);
}

/* ===================================================================================================================== services section ===================================================== */
.services{
    background-color: var(--light-bg);
    padding: 10rem 0;
}

/* ===================================================================================================================== funding section ===================================================== */

/* Step section */
.funding-step {
    padding-bottom: 2rem;
    padding-right: 4rem;
}
.single-step span {
    color: var(--default-red);
    top: 0;
    position: absolute;
    left: 0;
    font-size: 2.4rem;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid var(--default-red);
    border-radius: 100%;
    
    background: #f9fafb;
}

.single-step {
    position: relative;
    padding-left: 0rem;
    padding-left: 7rem;
    margin-top: 5rem;
}
.single-step:after {
    content: "";
    position: absolute;
    width: 2px;
    background: var(--default-red);
    height: 150%;
    left: 2rem;
    top: 0;
    z-index: 2rem;
    bottom: 0;
    z-index: -1;
    
}

.single-step:last-child::after{
width: 0;
}
.single-step h4{
    margin-bottom: 1.5rem;
}

/* loan rate form */
.loan-rate{
    background-color: var(--default-red);
    padding: 1rem 5rem 5rem 5rem;
    margin-top: 3rem;
}


.loan-rate.content {
    text-align: center;
}
.form-group {
    margin-bottom: 2rem;
}
.form-label {
    margin-bottom: .5rem;
    color: #fff;
    font-size: clamp(1.4rem,1.7vw,1.8rem);
}
input.form-control {
    padding: 1.5rem;
    border-radius: 6px;
    font-size: clamp(1.4rem,1.6vw,1.8rem);
}
.form-control:focus,
.form-control:active{
    border-color: transparent;
    border: none;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,0);
}

.loan-rate.content h2 {
    color: #fff;
    font-size: clamp(2.5rem,3.4vw,3.6rem);
}

button.loan-rate-btn {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 2rem;
    font-size: clamp(1.5rem,1.6vw,1.8rem);
    border-radius: 7px;
    transition: .4s;
    margin-top: 3rem;
}
button.loan-rate-btn:hover {
    color: #fff;
    background-color: var(--sec-title-color);
}














































































































































































































































































































































































































/* 
=====================================================================================================================  Footer===================================================== */
footer.footer{
    background: var(--sec-title-color);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    
    margin-top: auto;

}
.footer-top{
    padding: 10rem 0 7rem 0;
}
footer p{
    color: #fff;
}
p.footer-text{
    margin: 3rem 0;
}
ul.footer-icons {
    margin-left: -20px;
}
ul.footer-icons span{
font-size: 2rem;
font-weight: 400;
}
.footer-icons li{
    margin: 0 1rem
}
i.fa-brands.fa-linkedin,
i.fa-brands.fa-facebook-f
{
    font-size: 2rem;
}
i.fa-brands.fa-twitter {
    font-size: 2rem;
}
i.fa-brands.fa-instagram {
    font-size: 2rem;
}

/* widget 2 */
.widget-2,
.widget-3{
    padding-left: 2rem;
}
.footer h3{
    color: #fff;
    font-size: 2.4rem;
    padding-bottom: 2rem;
}
.footer-link-text{
    margin-left: -2rem;
    margin-top: 1rem;
}
.footer-link-text li{
    padding: 1rem 0;
}
.footer-link-text li a{
    color: #fff;
    font-size: 1.8rem;
    font-weight: normal;
    transition: all .5s ease;
}
.footer-link-text li a:hover,
.contact-info span a:hover{
    color: var(--default-red);
    letter-spacing: 1.5px;
    font-size: 1.9rem;
}
.footer-link-title{
    border-bottom: 1px solid var(--para-color);
}

/* widget 4 */
.contact-info {
    font-size: 1.8rem;
    display: flex;
   
    margin-top: 2.2rem;
    margin-bottom: 2.4rem;

}
.contact-info span{
    padding: 0 3rem;
}
.contact-info a{
    color: #fff;
}

i.fa-solid.fa-location-dot,
i.fa-regular.fa-envelope,
i.fa-solid.fa-phone-volume {
    font-size: 2rem;
    margin-top: 0.5rem;
}
/* footer bottom */
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    border-top: 1px solid var(--para-color);
}
.footer-bottom p{
    color: var(--para-color);
}
.footer-bottom  span{
    color: #fff;
}
 
